.heading {
    color: red
}

.paragraph {
    background-color: beige;
}

.notebox {
    border: 4px solid #666;
    padding: .5em;
}

.notebox.warning {
    border-color: orange;
    font-weight: bold;
}

.notebox.danger {
    border-color: red;
    font-weight: bold;
}

#colored_heading{
    background-color: pink;
}

#activity_span{
    padding: 0px 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}

#activity_para{
    border: 10px ridge lightgreen;
    margin: 5px;
}